#dl-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    text-align: -moz-center;
    text-align: -webkit-center;
}

#dl-overlay .card {
    width: 300px;
    height: 300px;
    margin: calc((100vh - 300px) / 2) 0;
    padding: 20px;
    border-radius: 5px;
    background: white;
}

#dl-overlay .progress {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%
}

#dl-overlay circle:nth-child(2) {
    transition: .5s;
}

#dl-overlay .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

#dl-overlay .number p {
    font-size: 24px;
}

#dl-overlay .number span {
    font-size: 40px;
}

body.noscroll {
    overflow: hidden;
}
